<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="Trace_Clipping_Test"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/Trace_Clipping_Test/css/default.css">
         </property>
         <property
               name="appName"
               value="Trace_Clipping_Test">
         </property>
      </product>
   </extension>

</plugin>
